<!DOCTYPE html>
<html>
    <head>
        <title>Tasks - Workstory</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
            #create-task-form {
                display: flex;
                align-items: center;
            }
            #create-task-form input {
                flex-grow: 1;
            }
            #create-task-form button {
                margin-left: 1em;
            }

            .task_set_status_form {
                display: inline-block;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <h1>Work Story</h1>
        <h2>Tasks</h2>
        <p>
            <a href="{{ url_for('today.home') }}">Today's Work</a>
        </p>
        <form id="create-task-form" action="{{ url_for('task.create') }}" method="post">
            <input type="hidden" name="id" value="{{ new_task_id }}">
            <input type="text" name="content">
            <button type="submit">Create</button>
        </form>

        <h3>In Progressing</h3>
        <ul>
        {% for task in in_progressing_tasks %}
            <li>
                {{ task['created_at'] }} - {{ task['content'] }}
                <form action="{{ url_for('task.set_status', id=task['id']) }}" method="post" class="task_set_status_form">
                    <input type="hidden" name="status" value="COMPLETE">
                    <button type="submit">Complete</button>
                </form>
                <form action="{{ url_for('task.set_status', id=task['id']) }}" method="post" class="task_set_status_form">
                    <input type="hidden" name="status" value="CANCEL">
                    <button type="submit">Cancel</button>
                </form>

            </li>
        {% else %}
            No task
        {% endfor %}
        </ul>

        <h3>To Do</h3>
        <ul>
        {% for task in todo_tasks %}
            <li>
                {{ task['created_at'] }} - {{ task['content'] }}
                <form action="{{ url_for('task.set_status', id=task['id']) }}" method="post" class="task_set_status_form">
                    <input type="hidden" name="status" value="IN_PROGRESSING">
                    <button type="submit">In Progressing</button>
                </form>
                <form action="{{ url_for('task.set_status', id=task['id']) }}" method="post" class="task_set_status_form">
                    <input type="hidden" name="status" value="CANCEL">
                    <button type="submit">Cancel</button>
                </form>
            </li>
        {% else %}
            No task
        {% endfor %}
        </ul>

        <h3>Completed</h3>
        <ul>
        {% for task in completed_tasks %}
            <li>
                {{ task['created_at'] }} - {{ task['content'] }}
                <form action="{{ url_for('task.set_status', id=task['id']) }}" method="post" class="task_set_status_form">
                    <input type="hidden" name="status" value="IN_PROGRESSING">
                    <button type="submit">In Progressing</button>
                </form>
            </li>
        {% else %}
            No task
        {% endfor %}
        </ul>

        <h3>Cancel</h3>
        <ul>
        {% for task in canceled_tasks %}
            <li>
                {{ task['created_at'] }} - {{ task['content'] }}
                <form action="{{ url_for('task.set_status', id=task['id']) }}" method="post" class="task_set_status_form">
                    <input type="hidden" name="status" value="IN_PROGRESSING">
                    <button type="submit">In Progressing</button>
                </form>
            </li>
        {% else %}
            No task
        {% endfor %}
        </ul>
    </div>
    </body>
</html>