<!DOCTYPE html>
<html>
    <head>
        <style>
            .inline-block {
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <h1>Don't Waste Time!</h1>

        <h2>Today is {{ today }}</h2>
        <ul>
        {% for work in work_items %}
            <li>
                {{ work['work_date'] }} - {{ work['task_content'] }}
            </li>
        {% else %}
            What are you doing today?
        {% endfor %}
        </ul>

        <h2>In Progressing</h2>
        <ul>
        {% for task in in_progressing_tasks %}
            <li>
                {{ task['created_at'] }} - {{ task['content'] }}
                <form action="{{ url_for('today.add_work') }}" method="POST" class="inline-block">
                    <input type="hidden" name="task_id" value="{{ task['id'] }}">
                    <button type="submit">Work on it</button>
                </form>
            </li>
        {% else %}
            No task
        {% endfor %}
        </ul>
    
        <p>
            <a href="{{ url_for('task.home') }}">My Tasks</a>
        </p>

    </body>
</html>